<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<!--
        	作者：offline
        	时间：2018-07-09
        	描述：弹出框
        -->
		<script>
			window.alert(5 + 6);
		</script>

		<!--
        	作者：offline
        	时间：2018-07-09
        	描述：write
        -->
		<h1>我的第一个 Web 页面</h1>

		<p>我的第一个段落。</p>
		<script>
			document.write(new Date())
		</script>
16 + "Volvo"
		<!--
        	作者：offline
        	时间：2018-07-09
        	描述：如果文档已经完成加载，write方法会复写整个页面
        -->
		<button onclick="myFunction()">点我</button >

		<script>
		function myFunction() {
		    document.write(Date());
		    console.log(9);
		}
		</script> 
	</body>

</html>