<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<!--
        	作者：offline
        	时间：2018-07-16
        	描述：dom元素
        -->
		<div id="div1">
			<p id="p1">这是一个段落。</p>
			<p id="p2">这是另一个段落。</p>
		</div>
		<script>
			var para = document.createElement("p");
			var node = document.createTextNode("xing duan luo");
			para.appendChild(node);
			var element = document.getElementById("div1");
		    element.appendChild(para);
		</script>
	</body>

</html>