<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<!--
        	作者：offline
        	时间：2018-07-16
        	描述：浏览器高度和宽度
        -->
		<script>
			var h = window.innerHeight;
			var w = window.innerWidth;
			alert(h + ":" + w);
		</script>

		<!--
        	作者：offline
        	时间：2018-07-16
        	描述：打开关闭窗口
        -->
		<script>
			function open_win() {
				window.open("http://www.w3cschool.cn");
			}
		</script>
		</head>

		<body>

			<form>
				<input type="button" value="打开窗口" onclick="open_win()">
			</form>
		</body>

		<!--
        	作者：offline
        	时间：2018-07-16
        	描述：关闭窗口
        -->
		<script>
			function openWin() {
				mywindow = window.open("", "", "widt=20,height=100");
				mywindow.document.write("<p> This is new window</p>");
			}

			function closeWin() {
				mywindow.close();
			}
			
			function move(){
				mywindow.moveTo(0,0);
				mywindow.focus();
			}
			//调整窗口尺寸
			function reSize(){
				mywindow.resizeTo(500,500);
				mywindow.focus;
			}
		</script>
		<input type="button" value="Open 'myWindow'" onclick="openWin()" />
		<input type="button" value="Close 'myWindow'" onclick="closeWin()" />
        <input type="button" value="移动窗口" onclick="move()" />
        <input type="button" value="改变窗口" onclick="reSize()" />
</html>