a:link{
	color: #00FF00;
	background-color: beige;
	text-decoration: overline;
	font-size: 40px;
	font
}
a:visited{
	color: red;
}
a:hover{
	color: greenyellow;
}
a:active{
	color: bisque;
}
