ul.a{
	list-style-type: circle;
}
ul.b{
	list-style-type: square;
}
ol.c{
	list-style-type: upper-roman;
}
ol.d{
	list-style-type: lower-alpha;
}
ul{
	list-style-image: url(../img/kaoheban_print.png);
}

